<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Document</title>
    
</head>
<body>
<div class="navbar">
    <div class="elementos">
        <a href="http://">Home</a>
        <a href="http://">Proyectos</a>
        <a href="http://">Contacto</a>
    </div>
</div>
<div class="contenedorprincipal">
    
<div class="contenedorproyectos">
    <div class="titulo"><h1>Mis Proyectos</h1></div>
    <div class="cuerpoproyectos">
        
                <div class="contenedor">
            <div class="perfil">
            <div class="imagen">
                <img src="~/imagenes/proyecto1.png"/>
            </div>
        </div>
        <div class="descripcion">
            <h1>proyecto 1</h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

        </div></div>
        <div class="contenedor">
            <div class="perfil">
            <div class="imagen">
                <img src="~/imagenes/proyecto1.png"/>
            </div>
        </div>
        <div class="descripcion">
            <h1>proyecto 2</h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

        </div></div>

        <div class="contenedor">
            <div class="perfil">
            <div class="imagen">
                <img src="~/imagenes/proyecto1.png"/>
            </div>
        </div>
        <div class="descripcion">
            <h1>proyecto 3</h1>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

        </div></div>
        

    </div>
</div>
</div>
    
</body>
</html>